.select {
    margin-left: 20px;
}

.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.yellow {
    background: yellow;
}

.yellow-text {
    color: #523f3f;
}

.blue {
    background: blue;
}

.blue-text {
    color: #ad9b9b;
}