
.inputStyle {
    color: #61dafb;
    display: inline-block;
    height: 27px;
    cursor: pointer;
}

.inputStyle:before {
    content: url('premium-icon-pen-4409339 (1).png ') ' ';
    position: relative;
    top: 4px;
}